<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".Paninda"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_paninda_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_paninda_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BasicApplication">
        <activity
            android:name=".ProfilePage"
            android:exported="true" />
        <activity
            android:name=".AnalyticsPage"
            android:exported="true" />
        <activity
            android:name=".InventoryPage"
            android:exported="true" />
        <activity
            android:name=".SalesPage"
            android:exported="true" /> <!-- HomePage -->
        <activity
            android:name=".HomePage"
            android:exported="true" /> <!-- SignupPage -->
        <activity
            android:name=".SignupPage"
            android:exported="true" /> <!-- Forgot passPage -->
        <activity
            android:name=".ForgotPassPage"
            android:exported="true" /> <!-- LoginPage -->
        <activity
            android:name=".LoginPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>